.examjs-help-popup {
    position: relative;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    color: #252525;
    cursor: pointer;

    width: 25px;
    height: 25px;
    
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.examjs-help-popup:before,
.examjs-help-popup:after {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 15px;
    left: 50%;
    -webkit-transition: opacity .7s, margin-bottom .7s;
    -moz-transition: opacity .7s, margin-bottom .7s;
    transition: opacity .7s, margin-bottom .7s;
}
.examjs-help-popup:before {
    width: 200px;
    text-align: center;
    font-size: .8em;
    color: #252525;
    background-color: rgba(255, 255, 255, .85);
    bottom: 30px;
    margin-left: -100px;
    padding: 10px;
    content: attr(data-help);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.examjs-help-popup:after {
    content: "";
    border-top: 10px solid rgba(255, 255, 255, .85);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 20px;
    margin-left: -10px;
}
.examjs-help-popup:hover:before,
.examjs-help-popup:hover:after {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

.examjs-block{
    display: inline-block;
    }
