body {
    margin: 0px;
    padding: 0px;
    background: #1f8dd6;
    text-align: center;
    height: 100%;
}
.top-panel {
    position: fixed;
    width: 100%;
    height: 45px;
    background: #2d3e50;
    text-align: center;
    font-style: oblique;
    font-size: 24pt;
    color: #fff;
    margin-bottom: 50px;
}
.box {
    margin: 0 auto;
    width: 95%;
    padding: 20px;
    height: 80%;
}
.result-box {
    width: 95%;
    padding: 20px;
    height: 80%;
}
.promo-text {
    color: #fff;
    font-size: 20pt;
}
#editor {
    background: #353535;
    color: #fff;
    font-size: 18pt;
    width: 40%;
    height: 400px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
#editor::-webkit-scrollbar {
    width: 0 !important;
}
#result {
    background: #353535;
    color: #fff;
    font-size: 18pt;
    width: 40%;
    height: 400px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
#result::-webkit-scrollbar {
    width: 0 !important;
}
