body {
    margin: 0px;
    padding: 0px;
    background: #5e5a80;
    text-align: center;
    height: 100%;
}
.top-panel {
    position: fixed;
    width: 100%;
    height: 45px;
    background: #1c140d;
    text-align: center;
    font-style: oblique;
    font-size: 24pt;
    color: #fff;
    margin-bottom: 50px;
}
.box {
    margin: 0 auto;
    width: 95%;
    padding: 20px;
    height: 80%;
}
.result-box {
    width: 95%;
    padding: 20px;
    height: 80%;
}
.promo-text {
    color: #fff;
    font-size: 20pt;
}
.text-pane {
    background: #353535;
    color: #e3e4fa;
    font-size: 18pt;
    width: 40%;
    height: 400px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
.text-pane::-webkit-scrollbar {
    width: 0 !important;
}
.split-div {
    font-size: 18pt;
    height: 400px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
}
